<div class="key-feautre">
    <div class="keyfeature-heading">
        <!-- <img src="../../assets/keyfeaturebg.png" alt="key background"> -->
        <h6>KEY FEATURE</h6>
    </div>
    <div class="keyfeautre-img">
     <div class="card img1">
        <img src="../../assets/technical security.png"   alt="setting img not loaded" >
        <h6>Thecnical Security</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy , </p>
  </div>
     <div class="card img1">
        <img src="../../assets/data security.png"   alt="dat security img not loaded" >
        <h6>Data Security</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy , </p>
    </div>
    <div class="card img1">
        <img src="../../assets/identity theft.png"   alt="dat security img not loaded" >
        <h6>Thecnical Theft Prevention</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy , </p>
    </div>
    </div>
   
</div>