<div>
<div class="box">
<div class="text-section">
    <h4>
        Desigened By Indian <br>Engineers
    </h4>
    <p>{{displayString }}</p>
            <button type="button" class="btn btn-warning rounded-pill btn-sectn">View Product</button>
</div>
<div class="img-secion">
    <img src="../../assets/banner_illustration.png" class="logo"  alt="logo not loaded" >

</div>

</div>
<span class ="mouse">
    <img src="../../assets/mouse.png" class="logo"  alt="logo not loaded" >
</span>
<div class="key-feaut">
    <app-keyfeature></app-keyfeature>
</div>

    </div>
